html
{
    font-size: 62.5%;
    font-family: Helvetica
}

.search-input{ 
    border-style:solid;
    padding:0.7rem; 
    text-align:center; 
    font-size:1.8rem; 
    border-width:0.2rem; 
    border-radius:7px; 
    border-color:#000000; 
    background-color:#f5c60c; 
    color:#000000; 
    font-weight:bold; 
    font-style:none;  
}

.search-input:focus { 
    outline:none; 
} 

.search-input::placeholder {
    color: #00000063;
    font-size: 1.8rem;
    font-style: italic;
}

.parentContainer
{
    text-align: center;
}